
@font-face
  font-family 'icons'
  src url('icons.woff')
  font-weight normal
  font-style normal

.icon
  font-family 'icons'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  -webkit-font-smoothing antialiased

.icon-music:before
  content "\e600"

.icon-music2:before
  content "\e601"

.icon-cd:before
  content "\e602"

.icon-air:before
  content "\e603"

.icon-infinity:before
  content "\e604"

.icon-checkmark:before
  content "\e605"

.icon-cross:before
  content "\e606"

.icon-minus:before
  content "\e607"

.icon-plus:before
  content "\e608"

.icon-cw:before
  content "\e609"

.icon-arrow:before
  content "\e60a"

.icon-loop:before
  content "\e60b"

.icon-layout:before
  content "\e60c"

.icon-list:before
  content "\e60d"

.icon-play:before
  content "\e60e"

.icon-pause:before
  content "\e60f"

.icon-record:before
  content "\e610"

.icon-stop:before
  content "\e611"

.icon-next:before
  content "\e612"

.icon-previous:before
  content "\e613"

.icon-first:before
  content "\e614"

.icon-last:before
  content "\e615"

.icon-arrow-left:before
  content "\e616"

.icon-arrow-down:before
  content "\e617"

.icon-arrow-up:before
  content "\e618"

.icon-arrow-right:before
  content "\e619"

.icon-soundcloud:before
  content "\e61a"
