@require '../variables'

.track-enter
  transition -webkit-transform 0.3s, opacity 0.3s !important
  opacity 0
  transform translate(30%,0)

.track-enter.track-enter-active
  opacity 1
  transform translate(0)

.track-leave
  transition -webkit-transform 0.3s, opacity 0.3s !important
  background-color line-color
  opacity 1
  transform translate(0)

.track-leave.track-leave-active
  opacity 0
  transform translate(-30%,0)