@import "../variables"

.ui.basic-sampler
  display: flex
  flew-flow: row nowrap
  margin: $margin
  min-width: 800px

  .column.channel
    flex-grow: 0
    flex-shrink: 0
    flex-basis: 30px + 2*$margin

