@import "../variables"

.ui.list-control
  min-width: 100px
  position: relative

  .list
    border: solid $line-width $line-color
    border-right: none
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 15px + $margin
    overflow-y: scroll

    .option
      padding: $margin
      border-bottom: solid $line-width $line-color
      border-right: solid $line-width $line-color
      background: $ctrl-bg-color
      position: relative
      z-index: 2

      &.selected
        background-color: $bg-color
        border-right: none

      &.dragging
        background-color: $line-color

        > *
          opacity: 0.5

    &:after
      content: ''
      position: absolute
      z-index: 1
      top: 0
      bottom: 0
      right: 0
      border-right: solid $line-width $line-color


  .controls
    padding: $margin/2 $margin
    background-color: $ctrl-bg-color
    position: absolute
    bottom: 0
    left: 0
    right: 0

    .icon
      font-size: 15px
      line-height: 15px
      color: $dark-line-color

      &:hover
        color: $text-color