@import "../variables"

$grid-shade-color: lighten($bg-color, 5%)
$grid-line-color: $bg-color
$strong-grid-line-color: darken($bg-color, 6%)
$key-width: 60px

.ui.piano-roll
  display: flex
  flex-flow: column nowrap
  flex-grow: 1
  align-items: stretch
  margin: 0

  .body
    flex-grow: 1
    background-color: #fff
    position: relative
    z-index: 1
    box-sizing: border-box
    overflow: scroll

    .outer,
    .inner,
    .keys,
    .grid
      position: absolute

    .keys
      top: 0
      left: 0
      border-right: solid $dark-line-color $line-width
      background-color: $bg-color

      rect
        fill: $med-line-color
        stroke-width: 0

      line
        stroke: $med-line-color
        stroke-width: $line-width

      text
        text-anchor: end
        fill: $text-color
        dominant-baseline: central

    .grid
      left: $key-width
      right: 0
      top: 0
      width: 0

      line
        stroke: $grid-line-color
        stroke-width: $line-width

        &.strong
          stroke: $strong-grid-line-color

        &.playback
          stroke: $strong-grid-line-color
          stroke-width: 2 * $line-width

      rect.shade
        fill: $grid-shade-color

      rect.note
        fill: $c1
        stroke: darken($c1, 20%)
        stroke-width: $line-width

        &.selected,
        &.active
          fill: darken($c1, 30%)
          stroke: darken($c1, 40%)

        &.ghost
          opacity: 0.8

      rect.selection
        fill: transparentize($c4, 0.8)
        //stroke: $c4
        //stroke-width: $line-width


    svg
      margin: 0
      display: block
      top: 0
      left: 0
      overflow: hidden

  .view-controls
    background-color: $ctrl-bg-color
    border-top: solid $line-width $dark-line-color
    flex-shrink: 0
    position: relative
    z-index: 2
    display: flex
    flex-flow: row nowrap
    justify-content: flex-end
    align-items: center
    padding: 0 $margin

    .scale-handle
      padding: 0 $margin/2
      height: 13px
      background: $line-color
      color: $light-text-color
      margin: $margin/2 $margin
      text-align: center
      font: $heavy-font

      &:active
        background-color: darken($line-color, 5%)

      .icon
        line-height: 13px
        width: 13px
        height: 13px
        display: inline-block
        font-size: 13px
        cursor: ns-resize

    .setting
      display: flex
      flex-flow: row nowrap
      align-items: center
      margin: $margin/2 $margin

      label
        margin: 0 $margin 0 0
        padding: 0 $margin - $line-width 0 0
        border-top: none
        border-right: solid $line-width $line-color
        color: $light-text-color
