@import "../variables"

.ui.waveform
  flex-grow: 1
  flex-basis: 100%
  display: flex

  svg
    stroke-width: $line-width

  path
    stroke: $med-line-color
    stroke-linecap: round
    stroke-linejoin: round
    stroke-width: $line-width * 2
    fill: $med-line-color
