@require "../variables"

.ui.analog
  display flex
  flex-flow row nowrap
  margin margin
  min-width 800px
  flex-grow: 1

  .column.channel
    flex-grow 0
    flex-shrink 0
    flex-basis 30px + 2 * margin
  .column.oscillators,
  .column.filter
    flex-grow 0
    flex-shrink 0
    flex-basis auto 
    justify-content center
