@require "../variables"

width = 45px

.ui.chooser
  display flext
  flex-flow column nowrap
  justify-content center
  margin 0 margin

  .option
    margin (margin / 2) 0
    width width
    padding 0
    text-align center
    color light-text-color
    background-color ctrl-bg-color
    -webkit-transition background-color animation-speed

    &:first-child
      margin-top 0
    &:last-child
      margin-bottom 0

    &.selected
      color c4
      background-color ctrl-color