@require "../variables"

.ui.drumkit
  display flex
  flex-flow row wrap
  margin margin
  width 800px

  .column.channel
    flex-grow 0
    flex-shrink 0
    flex-basis 30px + 2*margin

  .drum
    display flex
    flex-flow row nowrap
    margin margin
    flex-grow 1

    .column.attrs
      flex-flow column wrap
      align-items flex-start
      justify-content space-between
      flex-shrink 1

    .column.control
      flex-grow 0
      flex-shrink 0
      flex-basis auto
      text-align center

    .knob
      margin 0 margin

      > label
        margin margin 0

    > label
      margin margin 0 0