@require "../variables"

size = 5px
glow-size = 1px
count = 6

.ui.meter
  display flex
  flex-flow column-reverse nowrap
  flex-basis size
  justify-content space-between
  margin 0 0 0 margin
  align-self stretch

  div
    width size
    height size
    border-radius (size / 2)
    background-color med-line-color
    -webkit-transition background-color 0.3s

    &.on
      -webkit-transition 0

      for i in (1..(count - 1))
        &:nth-child({i})
          amt = 0.2 + 0.8 * i / (count - 1)
          color = blend(rgba(c3, amt), c4)
          background-color color
          box-shadow 0 0 glow-size color

      &:last-child
        background-color c1
        box-shadow 0 0 glow-size c1