@require "../variables"

.ui.waveform
  flex-grow 1
  flex-basis 100%
  display flex

  path
    fill med-line-color

  path.selection
    fill dark-line-color

  rect.marker
    fill ctrl-color

    &.active
      fill lighten(c1, 10)