<!DOCTYPE html>
<html>
<head>
  <title>Sinesaw</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Roboto:400:latin']
      },
      active: function() {
        React.renderComponent(App(), document.body)
      }
    });
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
